.control {
  height: 52px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: start;
  gap: 20px;
  background-color: #fed;
  border-top: 1px solid #666;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
  color: #666;
  padding: 22px 44px;
}

.button {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
}

.button:hover,
.active:hover {
  cursor: pointer;
}

.active {
  background-color: #fcd;
  border: 2px solid lightpink;
  border-radius: 5px;
  padding: 5px;
}

.clear {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  margin-left: auto;
}
