.item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.item label {
  margin: 15px 0;
  line-height: 2rem;
}

.item input[type="checkbox"] {
  width: 2rem;
  height: 2rem;
  margin-right: 30px;
  vertical-align: middle;
}

.item span {
  font-size: 2rem;
  opacity: 0.5;
}

.item label:hover {
  cursor: pointer;
}

.item input[type="checkbox"]:hover {
  cursor: pointer;
}

.item span:hover {
  cursor: pointer;
}

.active {
  text-decoration: none;
}

.completed {
  text-decoration: line-through;
}
