.button {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
}

.active {
  background-color: #fde;
  border: 2px solid lightpink;
  border-radius: 5px;
  padding: 5px;
}

.clear {
  background-color: transparent;
  border: 1px solid #aaa;
  border-radius: 5px;
  padding: 5px;
  margin-left: auto;
}

.button:hover,
.active:hover,
.clear:hover {
  cursor: pointer;
}
